/*controllerNav*/
#controllerNav{
	background: rgba(0,0,0,.15);
    min-height: 30px;
    margin-top: 10px;
    color: white;
    border-radius: 0 0 7px 7px;
    font-size: 14px;
    line-height: 30px;
    padding:15px 10px;
    transition: 1s;
    display:none;
}
/*endControllerNav*/
/*Jumbotron*/
.row-jumbotron{
	background-size: cover;
	color: white;
	border-radius:0px 0px!important;
}

.container-jumbotron{
	background:rgba(0,0,0,.6);
	position: relative;
	border-radius: 0px 0px!important;
}

.title{
	color: #f0e9ee !important;
	font-family: 'Roboto Slab', serif;
	max-width: 70%;
}
.desc{
	color: #f0f0f0;
	font-size: 16px!important;
}

.date{
	color: #f0f0f0
}
.author,.author:hover{
	color: #e06000;
	text-decoration: underline;
}

.glyphicon-jumbotron{
	position: absolute;
	top: 2rem;
	right: 2rem;
	z-index: 2000;
	font-weight: bold;
	font-size: 18px;
	display: block;
}
.jumbotron-icon{
	display: none;
	font-size: 16px;
}
.view-number{
	margin-right: 1rem
}
/*end jumbotron*/
/*rightContent*/
#ranking{
	width: 100%;
	max-height: 360px;
	overflow: hidden;
}
#ranking ul li:last-child{
	border-right:none!important;
}
#ranking ul,#ranking li{
	border-right: 1px solid rgba(0,0,0,.12);
    height: 35px;
    line-height: 27px;
}
#ranking ul li{
	float: left;
	width: 33.3%;
	text-align: center;
	transition: 1s;
	transform: background-color;
	font-family: 'Chewy', cursive;
	color: rgba(0,0,0,.5);
}
#ranking li:hover{
	background-color: rgba(255,255,255,.5);
	cursor: pointer;
}
.rankingContent{
	height: 265px;
}
.rContentRow{
	width: 100%;;
}
.rContentLeft{
	float: left;width: 76%;height: 46px;overflow: hidden;
	padding:2px 9px;
	border-bottom: 1px dashed grey;
}
.rContentRight{
	float: left;width: 24%;line-height: 46px;
	text-align: center;
}
.selectTopic{
	border-radius: 0px 0px;
	background: rgba(255,255,255,.3);
}
.rankingMonth,#rankingYear{
	display: none;
}
.inputSearch{
	width: 75%;
	border-radius: 0 3px 3px 0;
	background: rgba(255,255,255,.3);
	margin:20px 0;
	z-index: 3000;
	position: relative;
}
.spanSearch{
	position:absolute;
	left: 67%;
    bottom: 24px;
	z-index: 3000;
	cursor: pointer;
	border-radius: 5px;
}
.spanSearch img{
	width: 15px;
}
.fbLogin{
	position: absolute;
    bottom: 21px;
    right: 19%;
    transition: 1s;
}
.fbLogin:hover{
	background:cadetblue;
}
.fbLogin img{
	width: 26px;
}
/*End rightContent*/
@media (max-width: 768px) {
	.glyphicon-jumbotron{
		display: none;
	}
	.jumbotron-icon{
		display: inline;
	}	
	.title{
		font-size: 24px;
    	max-width: 100%;
	}
	/*ControllerNav*/
	#controllerNav{
		display: block;
	}
	.controllerNavTop{
		position: relative;
	}
	.selectTopic{
		width: 70%;
		float: left;
	}
	.inputSearch{
		width: 90%;
		margin:20px 0 0 0;
	}
	.searchToggle{
		display: none;
	}
	.controllerNavSearch{
		float: left;
		cursor: pointer;
		border-radius: 5px;
		margin-left:5%;
	}
	.controllerNavSearch img{
		width: 22px;
	}
	.controllerNavFbLogin{
		float:left;
		transition: 1s;
		margin-left:5%;
	}
	.controllerNavFbLogin img{
		width: 28px;
	}
	.controllerNavFbLogin:hover{
		background:cadetblue;
	}
}
@media (max-width: 1000px) {
	
}
/* Large desktop */
@media (min-width: 1200px) {

	
}

