/*modal*/
.modal-content{
  border-radius: 0px 0px;
}
/*endModal*/
/*leftContent*/
/*topLeftContent*/
.topLeftContent{
  color: rgba(255,255,255,0.8);
}
#author{
  margin: 14px 0;
}
#description{
  font-weight: bold;
  background: rgba(155,155,155,.5);
  padding: 1%;
}
/*middleLeftContent*/
.middleLeftContent{
  background:rgba(255,255,255,.2);
  padding: 3% 2%;
}
.middleLeftContent img{
  width: 100%;
  margin: 10px 0;
  border-radius: 11px;
}
.middleLeftContent a{
  text-decoration: underline;
}
/*bottomLeftContent*/
.bottomLeftContent{
  color: white;
  background: rgba(0,0,0,.5);
  padding: 10px 15px;
  margin: 20px 0;
}
/*rightContent*/
/*Carousel*/
.item{
  background: #222;
}
.item img{
  opacity: 0.5;
  position: relative;
}
.item h4{
  position: absolute;
  z-index: 10;
  color: #fff;
  bottom: 1rem;
  left: 1rem;
  text-shadow: 2px 2px #666;
}
/*endCarousel*/
/*socialMediaControl*/
.socialMediaControl{
  text-align: center;
  color:white;
  text-decoration: none;
  position: relative;
  min-height: 27px;
  cursor: pointer;
}
.socialMediaControl:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid white;
  transition: 0.4s;
}
.socialMediaControl:first-child{
  margin-left:12.3333%;
}
.socialMediaControl:last-child{
  border-right: none;
}
.socialMediaControl:hover:after{
  width: 100%;
}
#commentSocialMediaControl{
  text-align: center;
  color:white;
  text-decoration: none;
  position: relative;
  min-height: 27px;
  cursor: pointer;
}
#commentSocialMediaControl:after {
  content: '';
  position: absolute;
  height: 33px;
  bottom: 0;
  left: 0;
  width: 0%;
  border: 1px dashed white;
  transition: 1s ease;
  background: rgba(0,0,0,.15);
}
#commentSocialMediaControl:hover:after{
  width: 100%;
}

.search{
  margin-top:1rem;
}
.search input[type='text']{
  width: 100%;
  border-radius: 0 3px 3px 0;
  background: rgba(255,255,255,.3);
}

.login{
  margin-top: 14px;
}
.login img{
  transition:1s ease;
  border-radius: 5px;
}
.login img:hover{
  background:cadetblue;
}
@media (max-width: 768px){
  .socialMediaControl:first-child{
    margin-left:16.3333%;
  }
}
@media (max-width: 990px) {
  #rightContent{
    width: 100%!important;
    position: inherit;
    height: auto;
    padding-bottom: 20px;
  }
}
@media (max-width: 1000px) {
  
}
/* Large desktop */
@media (min-width: 1200px) {

  
}

